/* Aspoň 6 CSS pravidiel */

body {
    background-color: whitesmoke;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    display: none;
}

p {
    text-align: justify;
}

.navbar {
    font-size: 1.25rem;
}

.card {
    border-radius: 1.15vh;
}

.img-preview {
    width: 100%;
    min-height: 128px;
    max-height: 256px;
    object-fit: cover;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

div.landingPageSky {
    margin: auto;
    background-image: url("visuals/landingPage_Sky.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: cover;
}

div.landingPagePlane {
    background-image: url("visuals/landingPage_Airplane.png");
    background-repeat: no-repeat;
    background-size: 0;
    background-position: 50% 40%;
    background-attachment: scroll;
    min-height: 100vh;

    animation-iteration-count: 1;
    animation-delay: 0.5s;
    animation: animation_landing 10s forwards;
}

@keyframes animation_landing {
    0% {
        background-position-y: 40%;
        background-size: 0;
    }
    70% {
        background-position-y: 100%;
    }
    100% {
        background-position-y: 100%;
        background-size: 55vw;
    }
}

.img-bait {
    margin: 2vh 0 2vh 0;
    border-radius: 1vh;
    min-height: 10vh;
    max-height: 50vh;
    width: 100%;
}

img.logo {
    padding: 0;
    height: 5vh;
    overflow: visible;
}

#landing-page {
    animation: animation_landings 5s forwards;
}

#landing-page img.logo:hover {
    animation: animation_departure 5s forwards;
}

@keyframes animation_landings {
    from {
        filter: drop-shadow(32px 32px 0px rgba(0,0,0,0));
        transform: translateX(100vw) rotateZ(180deg) scale(2.5);
        animation-timing-function: linear;
    }
    40% {
        filter: drop-shadow(0px 0px 0px rgba(0,0,0,64));
        transform:translateX(30vw) rotateZ(180deg) scale(1);
        animation-timing-function: ease-out;
    }
    80% {
        transform: translateX(0) rotateZ(180deg);
        animation-timing-function: linear;
    }
    to {
        transform: translateX(0) rotateZ(0deg);
        visibility: visible;
    }
}

@keyframes animation_departure {
    from {
        transform: translateX(0);
        animation-timing-function: ease-in;
    }
    50% {
        filter: drop-shadow(0px 0px 0px gray);
        color: black;
        transform:translateX(40vw) scale(1);
        animation-timing-function: linear;
    }
    to {
        filter: drop-shadow(32px 32px 2px gray);
        transform: translateX(100vw) scale(2.5);
        visibility: visible;
        animation-timing-function: linear;
    }

}