body {
    background-color: whitesmoke;
}

.navbar {
    font-size: 1.25rem;
}

p {
    text-align: justify;
    color: rgb(32, 32, 32);
    font-size: 1.1rem;
}

.plane {
    border-radius: 1.15vh;
}

.img-preview {
    width: 100%;
    min-height: 128px;
    max-height: 256px;
    object-fit: cover;
    border-top-left-radius: 1vh;
    border-top-right-radius: 1vh;
}

.story-title {
    border-radius: 2vh;
    background: rgba(128, 64, 96, 0.6);
    color: whitesmoke;
}

div.news img {
    width: 100%;
    object-fit: cover;
    min-height: 10vh;
    max-height: 30vh;
}

div.news div.card{
    margin-bottom: 2vh;
}

img.logo {
    padding: 0;
    height: 5vh;
    overflow: visible;
}

button {
    background: transparent;
    border: none;
    color: inherit;
    cursor: pointer;
    border-radius: 1vh;
}

.btn-upvote:hover {
    background-color: RGBA(0, 0, 0, 0.05);
    color: green;
}

.btn-downvote:hover {
    background-color: RGBA(0, 0, 0, 0.05);
    color: red;
}

.upvoted {
    color: green;
}

.downvoted {
    color: red;
}

.vote-block {
    margin-right: 2vh;
}

.mlr-1 {
    margin-left: 1vh;
    margin-right: 1vh;
    /*padding-left: 2vh;*/
    /*padding-right: 2vh;*/
}

#landing-page {
    animation: animation_landings 5s forwards;
}


@keyframes animation_landings {
    from {
        filter: drop-shadow(32px 32px 2px rgba(0,0,0,0));
        transform: translateX(100vw) rotateZ(180deg) scale(2.5);
        animation-timing-function: linear;
    }
    40% {
        filter: drop-shadow(0px 0px 0px rgba(0,0,0,64));
        transform:translateX(30vw) rotateZ(180deg) scale(1);
        animation-timing-function: ease-out;
    }
    80% {
        transform: translateX(0) rotateZ(180deg);
        animation-timing-function: linear;
    }
    to {
        transform: translateX(0) rotateZ(0deg);
        visibility: visible;
    }
}

/* Tooltip container */
label.hoverable {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
label.hoverable .tooltip {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
label.hoverable .tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
label.hoverable:hover .tooltip {
    visibility: visible;
    opacity: 1;
}